@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ns-bold";
    src: url('/fonts/NotoSansKR-Bold.ttf');
}

@font-face {
    font-family: "ns-regular";
    src: url('/fonts/NotoSansKR-Regular.ttf');
}

@font-face {
    font-family: "ns-light";
    src: url('/fonts/NotoSansKR-Light.ttf');
}

.inner{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}